@import 'fonts.scss';

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;

  height: 100%;
  width: 100%;

  font-family: 'Montserrat Regular';
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
